@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    
    /* color pallete */
    --text: hsl(225, 20%, 60%);
    --darkBlue: hsl(227, 35%, 25%);
    
}


body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('./images/bg-pattern.svg');
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-color: hsl(230, 100%, 99%);
    color: var(--text);
    font-size: 15px;
}

main.container {
    min-width: 23.4rem;
    max-width: 46rem;
    margin-top: 3rem;  
    /* border: 1px solid #000; */
    text-align: center;
    padding: 2em 0;

    background-image: url('./images/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: center top;
}

main.container h2 {
    color: var(--darkBlue);
    margin-bottom: .8rem;
}

main.container > p {
    margin: .5em 0;
    font-size: .9em;
}

.card {
    background-color: hsl(0, 0%, 100%);
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 10px;
    /* border: 1px solid #000; */
    padding: 2em 0;
    box-shadow: 0 1px 10px 0 hsla(228, 77%, 24%, 0.096);
}

.card-header {
    padding: 0 1.5em;
    margin-bottom: 5px;
}

.card-header > p {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 4em;
}

.price-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#price {
    font-size: 2em;
    color: var(--darkBlue);
    font-weight: 800;
    margin-right: 10px;
}

.billing-option {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2em 0;    
}

small {
    color: hsl(15, 100%, 70%);
    font-size: .75em;
    font-weight: 800;
    background-color: hsl(14, 92%, 95%);
    padding: 5px;
    border-radius: 15px;
}

.discount-text {
    display: none;
}

hr {
    border: 0;
    border-top: 1px solid hsl(224, 65%, 95%);
    margin-bottom: 1.5em;
}

.card-body {
    padding: .5em 1.5em;
}
ul {
    list-style-image: url('./images/icon-check.svg');
    line-height: 2em;
    list-style-position: inside;
}

button {
    width: 50%;
    outline: none;
    border: none;
    border-radius: 25px;
    padding: 1em 3em;
    background-color: hsl(227, 35%, 25%);
    color: hsl(226, 100%, 87%);
    margin-top: 2em;
}

footer {
    display: block;
    width: 100%;
}

@media(min-width: 700px) {
    h2 {
        font-size: 1.6rem;
    }
    main.container > p {
        display: inline-block;
    }
    .card {
        width: 33rem;
    }    
    .card-header {
        display: flex;
        flex-wrap: wrap;
    }
    .card-header p {
        order: 1;
        width: 9.5rem;
        display: flex;
        margin: 2rem auto 2rem 0;
        align-items: center;
        justify-content: space-between;
    }
    .price-div {
        order: 2;
        margin: 1.8rem 0 1.8rem auto;
    }
    .slider {
        order: 3;
    }

    .billing-option {
        order: 4;
        width: 100%;
        justify-content: flex-end;
        gap: 1rem;
    }

    .discount-text {
        display: inline-block;
    }

    .card-body {
        display: inline-flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    ul {
        text-align: left;
        list-style-position: inside;
    }

    button {
        width: 30%;
        padding: 0.5rem 1rem;
        margin: 0;
    }
    
}